.formControl {
    width: 30%;
    margin: 30px !important;
}

.pickerHeader {
    text-align: center;
}


@media (max-width: 770px) {
    .formControl {
        width: 100%;
    }

    .container{ 
        width: 100% !important;
        height: 500px;
    }
}
